.pic-list-mod-1{
	.list{
		li.pic-list-width-285{
			width: 285px;
			background-color: #fff;
			.img-item{
				.img{
					width:285px;
					height: 285px;
					overflow:hidden;
				}
			}

		}
		li.pic-list-width-200{
			width:200px;
			background-color: #fafafa;
			.img-item{
				.img{
					width:200px;
					height: 200px;
					overflow:hidden;
				}
			}
		}
		li{
			-webkit-transition: all 0.5s ease 0s;
			-moz-transition:    all 0.5s ease 0s;
			-o-transition:      all 0.5s ease 0s;
			transition:         all 0.5s ease 0s;
			cursor: pointer;
			margin-bottom: 20px;
			float:left;
			margin: 0px 20px 20px 0px;
			.img-item{
				position:relative;
				.img{
					img{

					}
				}
				.txt{
					position:absolute;
					bottom:0;
					right:0;
					padding:5px 8px;
					background:rgba(0,0,0,.2);

				}
			}
			.txt-item{
				padding:10px 10px 15px 10px;
				.box-3{
					padding-top: 10px;
					.txt-1{
						.ui-avatar-icon{
							margin:2px 0px 0px 5px;
						}
					}
				}
				.box-2{
					height:42px;
					.txt-1{
						overflow : hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
					}
				}
				.box-1{
					.txt-1{
						.money_symbol{
							font-size: 12px;
							margin-right: 3px;
						}
					}
					.txt-2{
						margin-top: 3px;
					}
				}
			}
			&:hover{
				box-shadow: 0 0 20px rgba(0,0,0,.2);
			}
		}
	}
}
.pic-list-mod-w1200{
	width:1200px;
	margin:0 auto;
	.list{
		width:1220px;
	}
}

.pic-list-mod-2{
	.list{
		li.pic-list-width-285{
			width: 285px;
			background-color: #fafafa;
			.img-item{
				.img{
					width:285px;
					height: 114px;
					overflow:hidden;
				}
			}
		}
		li{
			cursor: pointer;
			margin-bottom: 20px;
			margin:0px 20px 20px 0px;
			float:left;
			-webkit-transition: all 0.5s ease 0s;
			-moz-transition:    all 0.5s ease 0s;
			-o-transition:      all 0.5s ease 0s;
			transition:         all 0.5s ease 0s;
			&:hover{
				box-shadow: 0 0 20px rgba(0,0,0,.2);
				background-color: #fff;
			}
			.img-item{
				.img{
					
				}
			}
			.txt-item{
				position:relative;
				padding:0px 10px 10px 10px;
				.ui-avatar-icon{
					
					position: absolute;
					top:-32px;
					left:50%;
					margin-left: -32px;
					i{
						border:2px solid #fff;
					}
				}
				.box-1{
					padding-top: 45px;
				}
				.box-2{
					.txt-1{
						font-weight: bold;
					}
				}
				.box-3{
					.tips{
						padding:1px 6px;
						background-color: #24c7c7;
						margin-right: 4px;
					}
				}
			}
		}
	}
}



