.go-top-mod a {
  width: 44px;
  height: 44px;
  display: block;
  position: fixed;
  right: 60px;
  bottom: 60px;
  text-decoration: none;
  color: #fff;
  background: url(../../../../images/go-top-44x44.png?__sprite);
  width: 45px;
  height: 45px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s; }
  .go-top-mod a:hover {
    background: #3A3939;
    background: url(../../../../images/go-top-44x44-hover.png?__sprite); }
