.yue-ui-tab-nav .item {
  font-size: 0.14rem;
  position: relative;
  padding: 0.04rem 0.16rem 0.03rem 0.15rem;
  border: 0.01rem solid #555;
  color: #555;
}

.yue-ui-tab-nav .item:active {
  border-color: #aaa;
  color: #aaa;
}

.yue-ui-tab-nav .item:nth-child(1) {
  border-right: none;
  border-top-left-radius: 0.05rem;
  border-bottom-left-radius: 0.05rem;
}

.yue-ui-tab-nav .item:nth-child(2) {
  border-left: none;
  border-top-right-radius: 0.05rem;
  border-bottom-right-radius: 0.05rem;
}

.yue-ui-tab-nav .tab-item-cur {
  background: #555;
  color: #fff;
}

.yue-ui-tab-nav .tab-item-cur:active {
  background: #aaa;
  border-color: #aaa;
  color: #fff;
}

.ui-tab {
  width: 100%;
  overflow: hidden;
}

.ui-tab-nav {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: box;
  display: -webkit-box;
  font-size: 0.16rem;
  height: 0.45rem;
  box-sizing: border-box;
}

.ui-tab-content {
  margin-top: 0.45rem;
  display: -webkit-box;
}

.ui-tab-content > li {
  -webkit-box-flex: 1;
  width: 100%;
}

.ui-tab-nav li {
  height: 0.45rem;
  line-height: 0.45rem;
  min-width: 0.7rem;
  box-flex: 1;
  -webkit-box-flex: 1;
  text-align: center;
  color: #808080;
  box-sizing: border-box;
}

.ui-tab-nav li.current {
  color: #00a5e0;
  border-bottom: 0.02rem #00a5e0 solid;
}

.ui-tab-nav li:active {
  opacity: .8;
}

.ui-button-box-tap {
  position: relative;
  z-index: 4;
  display: -webkit-box;
  width: 100%;
  color: #999;
  background-color: #fff;
}

.ui-button-box-tap .ui-button-tap {
  position: relative;
  -webkit-box-flex: 1;
  width: 0.45rem;
  line-height: 0.45rem;
  text-align: center;
}

.ui-button-box-tap .tag {
  position: absolute;
  top: 0.2rem;
  right: 0.16rem;
  width: 0;
  height: 0;
  border-left: 0.05rem solid transparent;
  border-right: 0.05rem solid transparent;
  border-top: 0.05rem solid #aaa;
  -webkit-transition: -webkit-transform .5s;
}

.ui-button-box-tap .tag-trfm {
  -webkit-transform: rotate(180deg);
}

.yue-ui-tab-menu .list {
  background-color: #fff;
  display: -webkit-box;
  display: box;
}

.yue-ui-tab-menu .list li {
  padding: 0.13rem 0 0 0;
  display: -webkit-box;
  display: box;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-box-pack: center;
  box-pack: center;
}

.yue-ui-tab-menu .list li .txt {
  position: relative;
  padding: 0 0.05rem 0.11rem 0.05rem;
}

.yue-ui-tab-menu .list li .txt .circle {
  display: inline-block;
  background-color: #ff3d3d;
  width: 0.06rem;
  height: 0.06rem;
  border-radius: 0.06rem;
  position: absolute;
  right: -0.05rem;
  top: -0.03rem;
}

.yue-ui-tab-menu .list .cur {
  color: #ffc430;
}

.yue-ui-tab-menu .list .cur .txt {
  border-bottom: 0.02rem solid #ffc430;
}