<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">

<link rel="stylesheet" href="http://localhost/mojikids/loc/static/wap/style/main.css">
<!--当前UI页面使用，跟YUE UI 使用无关联 start-->
<link charset="utf-8" rel="stylesheet" href="http://localhost/mojikids/loc/static/wap/style/ui/no-use/yue-ui-no-use.css">
<link charset="utf-8" rel="stylesheet" href="http://localhost/mojikids/loc/static/wap/style/ui/no-use/yue-ui-not.css">

<!--当前UI页面使用，跟YUE UI 使用无关联 end-->


<!--当前UI页面使用，跟YUE UI 使用无关联 start-->
<script type="text/javascript">document.addEventListener('touchstart',function(){},false);</script>

<script src="http://localhost/mojikids/loc/static/wap/lib/base.js" charset="utf-8"></script>

<script>
    (function(doc, win) {
        var docEl = doc.documentElement,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function() {
               var clientWidth = docEl.clientWidth;
               if (!clientWidth) return;

               if(clientWidth<=768)
               {
                 docEl.style.fontSize = 100 * (clientWidth / 375) + 'px';
               }
               else
               {
                 docEl.style.fontSize = 100*(768/375) + 'px';
               }


            };
            recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>



<!--当前UI页面使用，跟YUE UI 使用无关联 end-->
