/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td, /* table elements 表格元素 */
img/* img elements 图片元素 */ { border: medium none; margin: 0; padding: 0; }
/** 设置默认字体 **/
body, button, input, select, textarea { font: 12px/1.5  "SimSun", Tahoma, Arial, sans-serif }
input, select, form img, button { vertical-align: middle; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
em { font-style: normal; }
/** 重置列表元素 **/
ul, ol { list-style: none; }
/** 重置超链接元素 **/
a { text-decoration: none; color: #000; }
a:hover { text-decoration: none }
/** 重置图片元素 **/
img { border: none; }
/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }
/** 清楚浮动 **/
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix { zoom: 1; }
/* IE6 */
*:first-child+html .clearfix { zoom: 1; }
/* IE7 */
textarea, input { resize: none }
a, textarea, input, button { outline: none }
.font_wryh { font-family: '微软雅黑', '黑体', '宋体'; }
/** position **/
.re { position: relative; z-index: 1 }
.fr { float: right; }
.fl { float: left; }
.frdi { float: right; display: inline }
.fldi { float: left; display: inline }
/* ====================== 重置结束 ===================== */
* { -webkit-tap-highlight-color: transparent; -webkit-appearance: none; }
html {
    -ms-touch-action: none;
}
body{
    font-size: 0.24rem;
    color: #000;
}
html, body {
    font-family: 'Microsoft YaHei', 'Verdana', 'SimSun';
    height: 100%;
    width: 100%;
}
input,select,button{
    -webkit-appearance:none;
    appearance:none;
    border-radius: 0;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="radio"]:checked,
button{
    -webkit-appearance:none;
    appearance:none;
    border-radius: 0;
}




/* content */
#lottery{
    width:6rem;
    height:6rem;
    margin:0.2rem;
    background:#e9e9e8;
}
#lottery .item{
    width:2rem;
    height:2rem;
    text-align:center;
    vertical-align:middle;
    font-size:0.24rem;
    color:#333;
    float: left;
    box-sizing: border-box;
    border:0.05rem solid #fff;
}
#lottery .item img{
    display: block;
    width: 100%;
}
#lottery .item .praise-btn{
    width:2rem;
    height:2rem;
    display:block;
    text-decoration:none;
}
#lottery .item.active{
    background-color:#f6ff00;
}