<!DOCTYPE html>
<html lang="zh" >
<head>
    <title>首页</title>    
    {%$pc_global_head%}
    <script type="text/javascript" >
require.resourceMap({
    "res": {
        "pc-huipai:carouFredSel/jquery.carouFredSel-5.5.0": {
            "url": "http://localhost/paizhao/loc/static/pc/modules/carouFredSel/jquery.carouFredSel-5.5.0.js"
        },
        "pc-huipai:global/cookie/index": {
            "url": "http://localhost/paizhao/loc/static/pc/modules/global/cookie/index.js"
        },
        "pc-huipai:global/layer/extend/layer.ext": {
            "url": "http://localhost/paizhao/loc/static/pc/modules/global/layer/extend/layer.ext.js"
        },
        "pc-huipai:global/layer/layer": {
            "url": "http://localhost/paizhao/loc/static/pc/modules/global/layer/layer.js"
        },
        "pc-huipai:global/lazyload/lazyload": {
            "deps": [
                "pc-huipai:global/utility/index"
            ],
            "url": "http://localhost/paizhao/loc/static/pc/modules/global/lazyload/lazyload.js"
        },
        "pc-huipai:global/list/list": {
            "deps": [
                "pc-huipai:global/utility/index",
                "pc-huipai:global/lazyload/lazyload"
            ],
            "url": "http://localhost/paizhao/loc/static/pc/modules/global/list/list.js"
        },
        "pc-huipai:global/main": {
            "url": "http://localhost/paizhao/loc/static/pc/modules/global/main.js"
        },
        "pc-huipai:global/ua/index": {
            "url": "http://localhost/paizhao/loc/static/pc/modules/global/ua/index.js"
        },
        "pc-huipai:global/utility/cross_domain_storage": {
            "url": "http://localhost/paizhao/loc/static/pc/modules/global/utility/cross_domain_storage.js"
        },
        "pc-huipai:global/utility/index": {
            "deps": [
                "pc-huipai:global/cookie/index",
                "pc-huipai:global/ua/index"
            ],
            "url": "http://localhost/paizhao/loc/static/pc/modules/global/utility/index.js"
        }
    },
    "pkg": {}
});
</script>
	<link rel="dns-prefetch" href="//static-c1.yueus.com">
<link rel="dns-prefetch" href="//static.yueus.com">
<link rel="dns-prefetch" href="//goods.yueus.com">
<link rel="dns-prefetch" href="//topic.yueus.com">
<link rel="dns-prefetch" href="//list.yueus.com">

<meta charset="utf8">
<meta name="HandheldFriendly" content="true"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.3, user-scalable=0"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="wap-font-scale" content="no">


<!-- common css -->
<link type="text/css" rel="stylesheet" href="http://localhost/paizhao/loc/static/pc/style/common/main.css">
<!-- basejs -->
<script type="text/javascript" src="http://localhost/paizhao/loc/static/pc/lib/base.js"></script>
<script src="http://static-c1.yueus.com/yue_ui/js/jquery/1.10.2/jquery.min.js"></script>

<script>
(function(){if(!window.console){console=(function(){var instance=null;function Constructor(){}Constructor.prototype={log:function(str){}};function getInstance(){if(instance==null){instance=new Constructor()}return instance}return getInstance()})()}String.prototype.trim=function(){return this.replace(/^\s+/,"").replace(/\s+$/,"")}})();
</script>

{%if $use_vue == 1%}
<script type="text/javascript" src="//static-c1.yueus.com/yue_ui/vue/1.0.2/vue-base.min.19728b0.js"></script>
{%/if%}


<script>
    // HUIPAI js 全局设置
    window.__HUIPAI_GLOBAL = {};
    window.__HUIPAI_GLOBAL['AJAX_DOMAIN'] = '/ajax/';    
</script>

<style>
    .paizhao-ph-bgimg{
        background-image: url('{%$PAIZHAO_PLACEHOLER_IMG%}');
    }
</style>

 
    <link type="text/css" rel="stylesheet" href="http://localhost/paizhao/loc/static/pc/style/index/index-page.css">
</head>
<body>
	<!-- 头部内容 -->
	{%$pc_global_top_bar%}
	<!-- 页面内容 -->
	
	<div class="goods-page">
		
	</div>
	
	<!-- 底部内容 -->
	{%$pc_global_footer_bar%}

</body>


{%$pc_global_footer%}

<script type="text/javascript" charset="utf-8" src="http://localhost/paizhao/loc/static/pc/modules/global/cookie/index.js"></script>
<script type="text/javascript" charset="utf-8" src="http://localhost/paizhao/loc/static/pc/modules/global/ua/index.js"></script>
<script type="text/javascript" charset="utf-8" src="http://localhost/paizhao/loc/static/pc/modules/global/utility/index.js"></script>
<script type="text/javascript" charset="utf-8" src="http://localhost/paizhao/loc/static/pc/modules/global/lazyload/lazyload.js"></script>
<!--
@message 
注意：
引用模块必须在global_footer之后
使用本地缓存的组件，使用方法 如： require.syncLoad('namespace:xxxxxx')
-->

<script type="text/javascript">

	$(function() 
	{
		require.async('pc-huipai:carouFredSel/jquery.carouFredSel-5.5.0',function()
		{
			$('#foo2').carouFredSel({
				prev: '#prev2',
				next: '#next2',
				pagination: "#pager2",
				auto: true,
				scroll:
				{
					fx: "crossfade"
				}
			 });

			$('#foo3').carouFredSel({
				prev: '#prev3',
				next: '#next3',
				auto: false
			 });
		});

		// 图片后加载处理
		var lazyload = require('pc-huipai:global/lazyload/lazyload');
	
		var lazyload_obj1 = new lazyload({
			contain: $('[data-role="img_cen1"]'), // 后加载的父容器  
			img_center: {
				is_open : false
			},
			flag : 'data-src'
		});
		var lazyload_obj2 = new lazyload({
			contain: $('[data-role="img_cen2"]'), // 后加载的父容器  
			img_center: {
				is_open : false
			},
			flag : 'data-src'
		});
		var lazyload_obj3 = new lazyload({
			contain: $('[data-role="img_cen3"]'), // 后加载的父容器  
			img_center: {
				is_open : true,
				width : '285',
				height : '285'
			},
			flag : 'data-src'
		});
		var lazyload_obj4 = new lazyload({
			contain: $('[data-role="img_cen4"]'), // 后加载的父容器  
			img_center: {
				is_open : false
			},
			flag : 'data-src'
		});

		var lazyload_obj5 = new lazyload({
			contain: $('[data-role="img_cen5"]'), // 后加载的父容器  
			img_center: {
				is_open : true,
				width : '128',
				height : '128'
			},
			flag : 'data-src'
		});
	});
</script>

{%$pc_global_tj%}
</html>
