<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="import" href="./g_head.tpl.htm?__inline">
    <title>
        头像
    </title>
</head>

<body>
	
   

<style type="text/css">
    .ui-avatar-icon{
        margin-bottom: 20px;
    }
    .content{
        padding: 0px 20px 20px 20px;
    }
</style>


<!-- YUE-UI VUE 头部返回模块 start -->
<link rel="import" href="./g_back.tpl.htm?__inline">
<!-- YUE-UI VUE 头部返回模块 end -->

<div class="content f14">


    <div style="display:"  class="pb20">头像大小</div>

    <div class="">
        
        <p class="f14 pb5">32x32</p>
        <div class="ui-avatar-icon ui-avatar-icon-s">
            <i style="background-image:url(http://www.yueus.com/yue_ui/wap-test/static/wap/image/test/ui-avatar-icon-s.jpg)"></i>
        </div>


        <p class="f14 pb5">32x32 有通用白色边框时候</p>
        <div class="ui-avatar-icon ui-avatar-icon-s">
            <i class="has-border" style="background-image:url(http://www.yueus.com/yue_ui/wap-test/static/wap/image/test/ui-avatar-icon-s.jpg)"></i>
        </div>




        <p class="f14 pb5">40x40</p>
        <div class="ui-avatar-icon ui-avatar-icon-40">
            <i style="background-image:url(http://www.yueus.com/yue_ui/wap-test/static/wap/image/test/ui-avatar-icon-s.jpg)"></i>
        </div>




        <p class="f14 pb5">50x50</p>
        <div class="ui-avatar-icon ui-avatar-icon-m">
            <i style="background-image:url(http://www.yueus.com/yue_ui/wap-test/static/wap/image/test/ui-avatar-icon-m.jpg)"></i>
        </div>



        <p class="f14 pb5">60x60</p>
        <div class="ui-avatar-icon ui-avatar-icon-60">
            <i style="background-image:url(http://www.yueus.com/yue_ui/wap-test/static/wap/image/test/ui-avatar-icon-m.jpg)"></i>
        </div>




        <p class="f14 pb5">80x80</p>
        <div class="ui-avatar-icon ui-avatar-icon-l">
            <i style="background-image:url(http://www.yueus.com/yue_ui/wap-test/static/wap/image/test/ui-avatar-icon-l.jpg)"></i>
        </div>



        <p class="f14 pb5">98x98</p>
        <div class="ui-avatar-icon ui-avatar-icon-98">
            <i style="background-image:url(http://www.yueus.com/yue_ui/wap-test/static/wap/image/test/ui-avatar-icon-l.jpg)"></i>
        </div>



    </div>

</div>
</body>



</html>
