<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="import" href="./g_head.tpl.htm?__inline">
    <title>
        边框
    </title>
</head>


<body>

    
    <!-- YUE-UI VUE 头部返回模块 start -->
    <link rel="import" href="./g_back.tpl.htm?__inline">
    <!-- YUE-UI VUE 头部返回模块 end -->
    <ul class="ui-list-text border-list">
        <li class="ui-border-t">上边框</li>
        <li class="ui-border">边框</li>
        <li class="ui-border-b">下边框</li>
        <li class="ui-border-tb">上下边框</li>
        <li class="ui-border-l">左边框</li>
        <li class="ui-border-r">右边框</li>
        <li class="border">
            xxx
        </li>
    </ul>

</body>


</html>
