<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="import" href="./g_head.tpl.htm?__inline">
    <title>
        颜色配置
    </title>
</head>
<style type="text/css">
    .color-mod p{
        margin-top: 15px;
    }
    .content{
        padding: 0px 20px 20px 20px;
    }
    .bg-color-mod p{
        width: 200px;
        padding-left: 10px;
        height: 50px;
    }
    .border-color-mod p{
        width: 200px;
        height: 50px;
        border:1px solid #000;
    }
</style>

<body>

<!-- YUE-UI VUE 头部返回模块 start -->
<link rel="import" href="./g_back.tpl.htm?__inline">
<!-- YUE-UI VUE 头部返回模块 end -->


<div class="content">
    
    <div class="color-mod">
        <p class="f16">主颜色</p>
        <p class="main-color">文字颜色测试 <span class="ml10">main-color 字体颜色： #ffc430</span></p>
        <br />
        <div class="bg-color-mod">
            <p class="main-bg"><span class="color-fff  mt10 f16">main-bg 背景色： #ffc430 </span></p> 
        </div>
        <br />
        <div class="border-color-mod">
            <p class="main-border-color">main-border-color  边框色：#ffc430</p>
        </div>
        
        <br />
        <br />
        <br />



        <p class="f16">辅颜色</p>
        <p class="color-fff">文字颜色测试 <span class="ml10">#fff</span></p> 
        <p class="color-555">文字颜色测试 <span class="ml10">#555</span></p>
        <p class="color-2c2">文字颜色测试 <span class="ml10">#2c2c2c</span></p>
        <p class="color-aaa">文字颜色测试 <span class="ml10">#aaa</span></p>
        <p class="color-111">文字颜色测试 <span class="ml10">#111</span></p>
        <p class="color-ff6">文字颜色测试 <span class="ml10">#ff6a6e</span></p>
        <p class="color-ffb">文字颜色测试 <span class="ml10">#ffb4b6</span></p>

        <p class="color-ddd">文字颜色测试 <span class="ml10">#ddd</span></p>
        <p class="color-000">文字颜色测试 <span class="ml10">#000</span></p>
        <p class="color-ccc">文字颜色测试 <span class="ml10">#ccc</span></p>
        <p class="color-333">文字颜色测试 <span class="ml10">#333</span></p>
        <p class="color-666">文字颜色测试 <span class="ml10">#666</span></p>
        <p class="color-999">文字颜色测试 <span class="ml10">#999</span></p>
        <p class="color-fe9">文字颜色测试 <span class="ml10">#fe9920</span></p>
        <p class="color-bbb">文字颜色测试 <span class="ml10">#bbb</span></p>
        <p class="color-777">文字颜色测试 <span class="ml10">#777</span></p>
        <p class="color-ffa">文字颜色测试 <span class="ml10">#ffac35</span></p>
        <p class="color-6dc">文字颜色测试 <span class="ml10">#6dc91c</span></p>
        <p class="color-37a">文字颜色测试 <span class="ml10">#37aeec</span></p>
        <p class="color-ff5">文字颜色测试 <span class="ml10">#ff5959</span></p>
        
        <p class="color-ff9">文字颜色测试 <span class="ml10">#ff9600</span></p>


        
    </div>

    <br />
    <br />
    <br />
 
   
    
</div>


</body>


</html>
